APP_ENVIRONMENT=development

SERVER_ADDRESS=:8080

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=__SERVICE_SLUG__
DATABASE_NAME=__SERVICE_SLUG__

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$DATABASE_NAME
GOOSE_MIGRATION_DIR=db/migrations

OTEL_COLLECTOR_ENDPOINT=localhost:4317

VITE_WEB_SERVER_ADDRESS=localhost
VITE_WEB_PORT=3001
WEB_DIST_DIR=web/dist
VITE_API_BASE_URL=http://localhost:8080
