groups:
  - id: span.__DOMAIN__.handler.create
    type: span
    span_kind: internal
    stability: development
    brief: Create __DOMAIN__ handler execution.

  - id: span.__DOMAIN__.handler.get
    type: span
    span_kind: internal
    stability: development
    brief: Get __DOMAIN__ handler execution.

  - id: span.__DOMAIN__.handler.list
    type: span
    span_kind: internal
    stability: development
    brief: List __DOMAIN__ handler execution.

  - id: span.__DOMAIN__.usecase.create
    type: span
    span_kind: internal
    stability: development
    brief: Create __DOMAIN__ usecase execution.

  - id: span.__DOMAIN__.usecase.get
    type: span
    span_kind: internal
    stability: development
    brief: Get __DOMAIN__ usecase execution.

  - id: span.__DOMAIN__.usecase.list
    type: span
    span_kind: internal
    stability: development
    brief: List __DOMAIN__ usecase execution.

  - id: span.postgres.__DOMAIN__.create
    type: span
    span_kind: client
    stability: development
    brief: PostgreSQL create __DOMAIN__ query.

  - id: span.postgres.__DOMAIN__.get
    type: span
    span_kind: client
    stability: development
    brief: PostgreSQL get __DOMAIN__ query.

  - id: span.postgres.__DOMAIN__.list
    type: span
    span_kind: client
    stability: development
    brief: PostgreSQL list __DOMAIN__ query.
