package postgres

import (
	"context"
	"fmt"
	"time"

	"__GO_MODULE__/internal/infra/observability"
	"github.com/jackc/pgx/v5/pgxpool"
	"go.opentelemetry.io/otel/trace"
)

type Config struct {
	Host     string
	Port     string
	User     string
	Password string
	DBName   string
}

func NewConnection(ctx context.Context, cfg *Config, instrumentation observability.Instrumentation) (pool *pgxpool.Pool, err error) {
	tracer := instrumentation.Tracer()
	ctx, span := tracer.StartPostgresConnectionOpen(ctx, trace.WithSpanKind(trace.SpanKindClient))
	defer tracer.FinishSpan(span, &err)

	connStr := fmt.Sprintf("host=%s port=%s user=%s password=%s dbname=%s sslmode=disable", cfg.Host, cfg.Port, cfg.User, cfg.Password, cfg.DBName)
	poolConfig, err := pgxpool.ParseConfig(connStr)
	if err != nil {
		return nil, err
	}

	ctx, cancel := context.WithTimeout(ctx, 50*time.Second)
	defer cancel()

	pool, err = pgxpool.NewWithConfig(ctx, poolConfig)
	if err != nil {
		return nil, err
	}
	err = pool.Ping(ctx)
	if err != nil {
		pool.Close()
		return nil, err
	}

	return pool, nil
}
