groups:
  - id: span.health.usecase.get
    type: span
    span_kind: internal
    stability: development
    brief: Health check usecase execution.

  - id: span.health.handler.get
    type: span
    span_kind: internal
    stability: development
    brief: Health check handler execution.
