groups:
  - id: span.service.bootstrap
    type: span
    span_kind: internal
    stability: development
    brief: Service bootstrap execution.
    attributes:
      - ref: code.function.name
        requirement_level: opt_in
